p.content {
    margin-top:50px;
}

h3.score-label {
    float:left;
    margin-left:200px;
}

img.spinner {
    padding:20px;
}

div .content-block {
    margin-top:55px;
}

div .latest-tweet-label {
}

div .waiting-block {
    width:60%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:30px;
}

div .twitter-block {
    width:100%; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:30px;
    height:40%;
}

div .tweet-score-box {
    width:250px;
    float:left;
    margin-left:50px;
}

div .tweet-score-container {
    height:90px;
}

div .tweet-button-container {
    margin-top:30px;
}

div .meaning-block {
    float:right;
}