{% extends "base.html" %}
{% block title %}About TweetHealth {% endblock %}
{% block navbar %}
<ul class="nav">
  <li>
    <a href="/">Home</a>
  </li>
  <li class="active"><a href="/about/">About TweetHealth</a></li>
</ul>
{% endblock %}
{% block content %}
  <h1>About TweetHealth</h1>
  <p class="content">What does TweetHealth do?  The app tries to see how healthy of a lifestyle your living based on your Twitter!  All it takes is logging in via Twitter.</p>
  <p>Software stack includes Python/Django, Postgressql, jQuery, HTML/CSS (Twitter Bootstrap).</p>
{% endblock %}