<!DOCTYPE html>
<html lang="en">
<head>
{% block css %}
<link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css">
{% endblock %}
<title>{% block title %} TweetHealth {% endblock %}</title>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
		{% block navbar %}
		{% endblock %}
    </div>
  </div>
</div>
<div class="container">
	<div class="hero-unit">
		{% block content %}
		{% endblock %}
	</div>
</div> <!-- /container -->
<div align="center">
	TweetHealth, Author: Gaurav Chaturvedi
</div>
</body>
</html>
