{% extends "base.html" %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function() {
		twitterUpdate('{{csrf_token}}');
		window.setInterval(twitterUpdate('{{csrf_token}}'), 600000);
	});
</script>
{% endblock %}
{% block navbar %}
<ul class="nav">
  <li class="active">
    <a href="/">Home</a>
  </li>
  <li><a href="/about/">About TweetHealth</a></li>
</ul>
{% endblock %}
{% block content %}
  <h1>Welcome @{{ twitter_username }}</h1>
  <p>Your score is based on analyzing your tweets.</p>
	<div class="waiting-block" align="center">
	<img class="spinner" src="/media/img/spinner_waiting.gif">
	<p> Loading Twitter Content...</p>
	</div>
	<div class="twitter-block" align="center" >
	</div>
</div>
{% endblock %}
